@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Italic.eot);
  src: local("TT Lakes Italic"), local("TTLakes-Italic"), url(./fonts/TTLakes-Italic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Italic.woff) format("woff"), url(./fonts/TTLakes-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

/* nav block */
.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 30px;
  padding: 0;
  list-style: none;
  font-size: 16px; }

.menu .menu__item {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 10px -4px; }

.menu .menu__link {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  line-height: 24px;
  padding: 5px 20px;
  color: #7E7E82;
  background-color: transparent; }

.menu .menu__item--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background: #FFFFFF; }

.site {
  font-family: "TT Lakes";
  background-color: #F2F2F2;
  color: #1B1C21;
  max-width: 320px;
  margin: 10px auto; }

.main {
  background-color: #f8f8f8; }

.title-section {
  border-top: 1px solid #D9FFF5;
  background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), to(#FFFFFF));
  background: -o-linear-gradient(left, #F8F8F8 0%, #FFFFFF 100%);
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 100%);
  text-transform: uppercase;
  padding: 20px 0 20px 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 16px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  height: 85px; }

.header__divider {
  height: 32px;
  width: 2px;
  background-color: #EAEAEA; }

.button {
  border: none;
  cursor: pointer;
  background-color: transparent; }

.button__text {
  font-size: 16px;
  height: 40px;
  line-height: 40px; }

.icon--burger {
  background-image: url("/img/icon_burger.svg"); }

.icon--repair {
  background-image: url("/img/icon_repair.svg"); }

.icon--checkstatus {
  background-image: url("/img/icon_checkstatus.svg"); }

.service {
  border-top: 1px solid #D9FFF5; }

.service__title {
  margin: 0;
  padding: 0 32px;
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px;
  white-space: nowrap;
  border-left: 3px solid #41F6D7;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.service__header {
  margin: 24px 0; }

.service__buttons--visibility {
  display: none; }

.content__text {
  margin: 30px; }

.content__img {
  max-width: 100%; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #D9FFF5;
  padding: 10px; }

.footer__copy {
  text-align: center; }


/*# sourceMappingURL=style.css.map*/