.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 1px solid #D9FFF5;
  color: $text-gray;
  padding: 10px;

  &__text {
    text-align: center;
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
    color: $text-gray;

    &:hover{
      text-decoration: underline;
    }
  }
}
