/* nav block */
.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 30px;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

.menu .menu__item {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 10px -4px;
}

.menu .menu__link {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  line-height: 24px;
  padding: 5px 20px;
  color: #7E7E82;
  background-color: transparent;
}

.menu .menu__item--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background: #FFFFFF;
}
