/* prices (start) */
.price-content{
  display: flex;
  margin: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: 200px;
}

.price-table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin:0 15px 20px 0;
}

.price-table__row {
  position: relative;
  height: 160px;
  width: 220px;
  background-color: #ffffff;
  border-radius: 6px;
  font-size: 14px;
  padding: 15px;
  color: $graytext;
}

.price-table__cell:nth-child(2n) {
  margin-bottom: 10px;
  color: $text;
}

.price-table__cell:last-child {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.price__order {
  background-color: $color1;
  width: 120px;
  height: 32px;
  border-radius: 16px;
  border: none;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.price__order:hover {
  background-color: $color1_sat10;
}

.price__order--icon-arrow {
   background-image: url("../img/icon_white_arrow.svg");
   background-position: 85% 50%;
   background-repeat: no-repeat;
 }

.price__text {
  margin: 30px;
}

.price__offer {
  position: relative;
}

.price__link {
  font-family: $font-family;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: $text;
}

.price__link:hover {
  color: $color1;
}

.price__offer::after {
  position:absolute;
  content: url("../img/icon_red_arrow.svg");
  padding: 2px 0 0 5px;
}
/* prices (end) */
